.destination-container{
    background: url(../../assets/img/destination-bg.png) no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    color: white;
}

.destination-title{
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 480px;
}

.number-destination{
    font-weight: bold;
    opacity: 0.5;
    margin-right: 10px;
}

.destination-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    max-width: 1100px;
    width: 100%;
    margin-right: 300px;
}

.destination-image img{
    width: 300px;
    height: auto;
}

.destination-text{
    max-width: 500px;
    text-align: left;
}

.destination-points{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.destination-tab{
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.destination-tab.active{
    border-bottom: 2px solid white;
}

.destination-name{
    font-size: 56px;
    margin: 10px 0;
    font-family: serif;
    font-weight: lighter;
}

.destination-description{
    font-size: 16px;
    line-height: 1.5;
}

.GOAT-HR{
    width: 100%;
    height: 1px;
    background: white;
    opacity: 0.3;
    margin: 20px 0;
}

.destination-time{
    font-size: 18px;
    font-weight: bold;
}

.time-text{
    font-size: 14px;
    opacity: 0.5;
}



