.crew-container{
    background: url(../../assets/img/crew-bg.png) no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}